.settings
.cproject
.project
.dirstamp
src/*.o
src/*.lo
src/*.la
src/.libs
test/*.o
test/*.lo
.deps
Makefile
config.h
config.log
config.status
libtool
src/Makefile
stamp-h1
test/Makefile
test/test-dirtree
test/test-fs-watch
test/test-http-client
test/test-http-server
test/test-http-thread

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


autom4te.cache
build-aux
config.h.in~
m4
aclocal.m4

Makefile.in
